<ActionBar title="My App"> </ActionBar>

<GridLayout>
  <GridLayout columns="*, *, *" rows="*, *">
    <Fab
      horizontalAlignment="center"
      col="2"
      row="1"
      #btnb
      rippleColor="#f1f1f1"
      text="B"
      class="fab-button btnb"
    ></Fab>
    <Fab
      horizontalAlignment="center"
      col="2"
      row="1"
      #btna
      rippleColor="#f1f1f1"
      text="A"
      class="fab-button btna"
    ></Fab>
    <Fab
      horizontalAlignment="center"
      col="2"
      row="1"
      #fab
      (tap)="displayOptions()"
      rippleColor="#f1f1f1"
      text="+"
      class="fab-button"
      borderRadius="24"
    >
    </Fab>
  </GridLayout>
</GridLayout>
