$deep-purple: #77567a;
$light-purple: #9f88a1;
$black-text: #161616;
$white: #fafafa;

.fab-button {
  height: 70dp;
  width: 70dp;
  border-radius: 24dp;
  margin: 15;
  background-color: $deep-purple;
  horizontal-align: right;
  vertical-align: bottom;
  font-size: 30sp;
  color: white;
}

.fab-secondary {
  height: 56dp;
  width: 56dp;
  font-size: 30sp;
  color: white;
  background-color: $light-purple;
  &.btna {
  }

  &.btnb {
  }

  &.btnc {
  }
}

.title {
  background-color: $white;
  height: 34dp;
  padding: 4dp 8dp;
  color: $black-text;
  font-size: 16sp;
  margin-right: 8dp;
  border-radius: 8dp;
  text-align: center;
  align-content: center;

  &.labela {
  }

  &.labelb {
  }

  &.labelc {
  }
}
