.fab-button {
  height: 70dp;
  width: 70dp;
  border-radius: 24dp;
  margin: 15;
  background-color: orangered;
  horizontal-align: right;
  vertical-align: bottom;
  font-size: 30sp;
  color: white;
}

.btna {
  background-color: #493df8;
  height: 56dp;
  width: 56dp;
}

.btnb {
  background-color: #1598f6;
  height: 56dp;
  width: 56dp;
}
